@page "{id:int?}"
@model StudentRatingSystemWebApp.Pages.ChangePasswordModel
@{
	if(PageContext.HttpContext.User.IsInRole("STUDENT")){
		Layout = "StudentLayout";
	}
	if(PageContext.HttpContext.User.IsInRole("TEACHER")){
		Layout = "TeacherLayout";
	}
	if(PageContext.HttpContext.User.IsInRole("ADMIN")){
		Layout = "AdminLayout";
	}
}

<div class="content">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="content-block">
				<h3>Зміна паролю</h3>
				@if (Model.message!="")
                {
                    <div>
                        <div class="warning-message">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h3>@Model.message</h3>
                        </div>
                    </div>
                }
				<form action="/ChangePassword" method="post" asp-antiforgery="true">
					<input id="userId" name="userId" type="number" style="display: none;" value="@Model.userId"/>
					<div class="password-box">
						<input id="password" name="password" type="password" required=""/>
						<label>Поточний пароль</label>
					</div>
					<div class="password-box">
						<input id="newPassword" name="newPassword" type="password" required=""/>
						<label>Новий пароль</label>
					</div>
					<div class="password-box">
						<input id="repeatPassword" name="repeatPassword" type="password" required=""/>
						<label>Повторити новий пароль</label>
					</div>
					<div class="button-box">
						<button class="save-button" type="submit">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							Зберегти
						</button>
					</div>
				</form>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
