body {
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.content {
    font-family: "Century Gothic";
    font-size: 18px;
}

.content-block {
    background: rgb(255, 255, 255, 0.75);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 15px 25px rgba(0,0,0,.3);
    margin-top: 30px;
}

    .content-block h3 {
        font-size: 25px;
    }

.table thead.thead-blue th {
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}

.table-input, input.table-input:focus {
    width: 80%;
    padding: 3px;
    background: steelblue;
    color: gold;
    border-radius: 0;
    border-bottom: 3px solid gold;
    border-right: 3px solid gold;
    border-top: 1px solid gold;
    border-left: 1px solid gold;
    text-align: right;
}

.number-box {
    color: steelblue;
    display: inline;
}

    .number-box form button.sign-in-btn {
        position: relative;
        display: inline-block;
        padding: 10px;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        letter-spacing: 3px;
        background-color: transparent;
        color: steelblue;
    }

.number-box button.sign-in-btn {
    border: 1px solid steelblue !important;
}

    .number-box button.sign-in-btn:hover {
        background: steelblue;
        color: #fff;
    }

.number-box button.sign-in-btn span {
    position: absolute;
    display: block;
}

tr:hover td .number-box button.sign-in-btn {
    border: 1px solid transparent !important;
}


    tr:hover td .number-box button.sign-in-btn span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, steelblue);
        animation: btn-anim1 1s linear infinite;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

tr:hover td .number-box button.sign-in-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, steelblue);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

tr:hover td .number-box button.sign-in-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, steelblue);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

tr:hover td .number-box button.sign-in-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, steelblue);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

.number-box form input {
    padding-bottom: 0;
    font-size: 25px;
    color: steelblue;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid steelblue;
    outline: none;
    background: transparent;
    text-align: right;
    width: 100px;
}

.sort-checkbox{
    font-size: 15px;
}

.sort-checkbox input{
    display: none;
}

.sort-checkbox div{
    width: 30px;
    height: 30px;
    margin-left: -20px;
    cursor: pointer;
}

.sort-checkbox input:hover ~ div{
    color: darkgoldenrod;
}

    .sort-checkbox input ~ div {
        color: gold
    }

.edit-link{
    color: steelblue;
    background: transparent;
    border: none;
}
.edit-link:hover {
    color: darkslateblue;
}

.delete-link {
    color: red;
    background: transparent;
    border: none;
}

    .delete-link:hover {
        color: darkred;
    }

a.info-link{
    color: deepskyblue;
}
    a.info-link:hover{
        color: navy;
    }

.table tr td{
    vertical-align: middle;
}

th{
    border-left-color: white !important;
    border-right-color: white !important;
}

.save-button {
    margin-left: 40px;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 5px;
}

.password-box {
    position: relative;
    padding: 10px;
}

    .password-box input {
        width: 75%;
        padding: 10px 0;
        font-size: 20px;
        color: black;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid steelblue;
        outline: none;
        background: transparent;
    }

    .password-box label {
        position: absolute;
        top: 0;
        left: 13%;
        padding: 10px 0;
        font-size: 16px;
        color: black;
        pointer-events: none;
        transition: .5s;
    }

    .password-box input:focus ~ label,
    .password-box input:valid ~ label {
        top: -20px;
        left: 13%;
        color: steelblue;
        font-size: 14px;
    }


.button-box a, .button-box button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px;
    color: steelblue;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 6px;
    background-color: transparent;
    border: 0;
}

    .button-box a:hover, .button-box button:hover {
        background: steelblue;
        color: #fff;
    }

    .button-box a span, .button-box button span {
        position: absolute;
        display: block;
    }

        .button-box a span:nth-child(1), .button-box button span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, transparent, steelblue);
            animation: btn-anim1 1s linear infinite;
        }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.button-box a span:nth-child(2), .button-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, steelblue);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.button-box a span:nth-child(3), .button-box button span:nth-child(3) {
    display: none;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.button-box a span:nth-child(4), .button-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, steelblue);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

.select {
    background: url(images/select.png) no-repeat transparent;
    background-position: 95% 50%;
    border-radius: 5px;
    margin-right: 2%;
    margin-bottom: 40px;
    width: 220px;
    height: 30px;
}

    .select > select:active,
    .select > select:focus {
        background: url(images/selectactive.png) no-repeat transparent;
    }

select > option {
    background-color: transparent;
    border: 0;
    background-image: url(images/option.png);
    padding-right: 15px;
    height: 31px;
    width: 220px;
}

    select > option:nth-child(1) {
        background-image: url(images/option1.png);
    }

    select > option:nth-last-child {
        background-image: url(images/optionlast.png);
    }

.select > select {
    width: 100%;
    color: black;
    font-size: 14px;
    font-family: 'Century Gothic', Helvetica, sans-serif;
    line-height: 2.5;
    background: transparent;
    border: 0;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.radio label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

    .radio label input {
        position: absolute;
        left: -9999px;
    }

        .radio label input:checked + span {
            background: #3a86c66d;
        }

        .radio label input:checked +span:before {
            box-shadow: inset 0 0 0 0.4375em steelblue;
        }

    .radio label span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em;
        transition: 0.25s ease;
    }
        .radio label span:hover {
            background: #6ea1cc6d;
        }

        .radio label span:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            background-color: #fff;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em steelblue;
        }

div.select, div.radio{
    margin-left: 13%;
}

div.add-user-button label span {
    padding: 15px;
    background: steelblue;
    width: 100%;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    display: block;
    text-align: center;
}

div.add-user{
    text-align: left;
}

div.add-user-button{
    display: inline;
}
    div.add-user-button label span:hover {
        background: #1b5583;
    }

div.add-user-button label span::after {
    float: right;
    right: 10%;
}

.slide {
    clear: both;
    width: 0px;
    overflow: hidden;
    text-align: center;
    display: inline;
}

    .slide li {
        display: inline;
        padding: 15px;
    }
        .slide li div {
            width: 0;
            display: inline;
            font-size: 0;
            transition: .5s;
            background: #fff;
        }

        .slide li div:hover{
            background: steelblue;
            color: gold !important;
        }

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

    #touch:checked + .slide li{
        margin-inline: 0;
    }
        #touch:checked + .slide li div{
            width: 400px;
            font-size: 20px;
            padding: 15px;
        }

div.add-user-button {
    width: 300px;
    margin: 40px auto;
}

a.add-link{
    text-decoration: none !important;
    color: white !important;
}
    li div:hover a.add-link{
        color: gold;
    }